@import url("./_cdn.scss");
@import url("./_fonts.scss");
@import url("./header.scss");
@import url("./section-1.scss");
@import url("./slider.scss");
@import url("./card.scss");
@import url("./video.scss");
@import url("./social.scss");



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Raleway, sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;

}